In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('DHS Daily Report Analysis/DHS_Daily_Report_20250617.csv')

In [3]:
df.head()

,Date of Census,Total Adults in Shelter,Total Children in Shelter,Total Individuals in Shelter,Single Adult Men in Shelter,Single Adult Women in Shelter,Total Single Adults in Shelter,Families with Children in Shelter,Adults in Families with Children in Shelter,Children in Families with Children in Shelter,Total Individuals in Families with Children in Shelter,Adult Families in Shelter,Individuals in Adult Families in Shelter
0,07/19/2023,53797,28209,82006,16905,4784,21689,16491,25913,28209,54122,2916,6195
1,07/20/2023,53891,28225,82116,16943,4794,21737,16513,25940,28225,54165,2925,6214
2,07/21/2023,53851,28270,82121,16962,4752,21714,16527,25953,28270,54223,2910,6184
3,07/22/2023,53762,28324,82086,16891,4713,21604,16544,25970,28324,54294,2912,6188
4,07/23/2023,53801,28269,82070,16971,4710,21681,16522,25948,28269,54217,2904,6172

In [4]:
df.tail()

,Date of Census,Total Adults in Shelter,Total Children in Shelter,Total Individuals in Shelter,Single Adult Men in Shelter,Single Adult Women in Shelter,Total Single Adults in Shelter,Families with Children in Shelter,Adults in Families with Children in Shelter,Children in Families with Children in Shelter,Total Individuals in Families with Children in Shelter,Adult Families in Shelter,Individuals in Adult Families in Shelter
1563,06/11/2025,54564,31533,86097,16299,6106,22405,18221,27367,31533,58900,2219,4792
1564,06/12/2025,54577,31519,86096,16314,6119,22433,18207,27341,31519,58860,2226,4803
1565,06/13/2025,54494,31450,85944,16223,6116,22339,18178,27318,31450,58768,2243,4837
1566,06/14/2025,54542,31482,86024,16250,6143,22393,18175,27312,31482,58794,2242,4837
1567,06/15/2025,54611,31488,86099,16312,6144,22456,18174,27314,31488,58802,2244,4841

In [6]:
df.shape

(1568, 13)

> There are 1,568 rows (entries) and 13 columns.