In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('DHS Daily Report Analysis/DHS_Daily_Report_20250617.csv')

In [3]:
df.head()

,Date of Census,Total Adults in Shelter,Total Children in Shelter,Total Individuals in Shelter,Single Adult Men in Shelter,Single Adult Women in Shelter,Total Single Adults in Shelter,Families with Children in Shelter,Adults in Families with Children in Shelter,Children in Families with Children in Shelter,Total Individuals in Families with Children in Shelter,Adult Families in Shelter,Individuals in Adult Families in Shelter
0,07/19/2023,53797,28209,82006,16905,4784,21689,16491,25913,28209,54122,2916,6195
1,07/20/2023,53891,28225,82116,16943,4794,21737,16513,25940,28225,54165,2925,6214
2,07/21/2023,53851,28270,82121,16962,4752,21714,16527,25953,28270,54223,2910,6184
3,07/22/2023,53762,28324,82086,16891,4713,21604,16544,25970,28324,54294,2912,6188
4,07/23/2023,53801,28269,82070,16971,4710,21681,16522,25948,28269,54217,2904,6172

In [4]:
df.tail()

,Date of Census,Total Adults in Shelter,Total Children in Shelter,Total Individuals in Shelter,Single Adult Men in Shelter,Single Adult Women in Shelter,Total Single Adults in Shelter,Families with Children in Shelter,Adults in Families with Children in Shelter,Children in Families with Children in Shelter,Total Individuals in Families with Children in Shelter,Adult Families in Shelter,Individuals in Adult Families in Shelter
1563,06/11/2025,54564,31533,86097,16299,6106,22405,18221,27367,31533,58900,2219,4792
1564,06/12/2025,54577,31519,86096,16314,6119,22433,18207,27341,31519,58860,2226,4803
1565,06/13/2025,54494,31450,85944,16223,6116,22339,18178,27318,31450,58768,2243,4837
1566,06/14/2025,54542,31482,86024,16250,6143,22393,18175,27312,31482,58794,2242,4837
1567,06/15/2025,54611,31488,86099,16312,6144,22456,18174,27314,31488,58802,2244,4841

In [6]:
df.shape

(1568, 13)

> There are 1,568 rows (entries) and 13 columns.

In [8]:
df.dtypes

Date of Census                                             object
Total Adults in Shelter                                     int64
Total Children in Shelter                                   int64
Total Individuals in Shelter                                int64
Single Adult Men in Shelter                                 int64
Single Adult Women in Shelter                               int64
Total Single Adults in Shelter                              int64
Families with Children in Shelter                           int64
Adults in Families with Children in Shelter                 int64
Children in Families with Children in Shelter               int64
Total Individuals in Families with Children in Shelter      int64
Adult Families in Shelter                                   int64
Individuals in Adult Families in Shelter                    int64
dtype: object

In [9]:
df.isnull().sum()

Date of Census                                             0
Total Adults in Shelter                                    0
Total Children in Shelter                                  0
Total Individuals in Shelter                               0
Single Adult Men in Shelter                                0
Single Adult Women in Shelter                              0
Total Single Adults in Shelter                             0
Families with Children in Shelter                          0
Adults in Families with Children in Shelter                0
Children in Families with Children in Shelter              0
Total Individuals in Families with Children in Shelter     0
Adult Families in Shelter                                  0
Individuals in Adult Families in Shelter                   0
dtype: int64

> There are no null (missing) values.

In [11]:
df.describe()

,Total Adults in Shelter,Total Children in Shelter,Total Individuals in Shelter,Single Adult Men in Shelter,Single Adult Women in Shelter,Total Single Adults in Shelter,Families with Children in Shelter,Adults in Families with Children in Shelter,Children in Families with Children in Shelter,Total Individuals in Families with Children in Shelter,Adult Families in Shelter,Individuals in Adult Families in Shelter
count,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000
mean,44903.059311,24382.614158,69285.673469,14775.533163,4686.292730,19461.825893,14199.456633,21184.005740,24382.614158,45566.619898,2002.765944,4257.227679
std,10326.512552,7736.196329,17949.143691,1723.470207,543.688902,2136.743701,4534.110081,7831.602556,7736.196329,15556.444213,458.441428,984.574718
min,30312.000000,14274.000000,44586.000000,11971.000000,3801.000000,15985.000000,8180.000000,10759.000000,14274.000000,25039.000000,1385.000000,2904.000000
25%,32466.000000,15370.250000,47886.250000,12626.000000,4161.000000,16735.750000,8908.750000,11848.500000,15370.250000,27229.500000,1635.750000,3435.750000
50%,50938.000000,24562.000000,75496.500000,15272.500000,4596.000000,20068.000000,14428.500000,22399.000000,24562.000000,46957.500000,1890.000000,4055.500000
75%,54035.500000,32499.000000,86458.250000,16118.500000,5062.000000,21354.750000,18927.000000,29020.000000,32499.000000,61602.500000,2275.000000,4849.750000
max,56436.000000,33468.000000,89558.000000,18533.000000,6144.000000,23161.000000,19641.000000,30681.000000,33468.000000,64112.000000,3101.000000,6569.000000